<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nifty Note - simple command line and web based note storage</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/select/1.2.3/css/select.dataTables.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css', v='171229') }}">

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('main') }}">Nifty Note</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('help') }}">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 main">
<p>
  <a href="{{ url_for('main') }}">Nifty Note</a> is a simple, lightweight note-taking application.
  It provides a web-based and command line tool for managing text-based notes.
</p>
<h4>Features</h4>
<p>
  <li>Write plaintext or <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">markdown</a>. Math formulas are supported via <a target="_blank" href="https://www.mathjax.org/">MathJax</a>.</li>
  <li>Access your notes anywhere, from any device.</li>
  <li>Use Supernifty's <a href="https://note.supernifty.org/">online application</a>, or run locally by <a href="https://github.com/supernifty/NiftyNote">forking the GitHub repository</a>.
  <li>Open source. Check out the code at <a href="https://github.com/supernifty/NiftyNote"</a>GitHub</a>.</li> 
</p>
<h4>Other Notes</h4>
<p>
  <li>The online version uses Google for authentication.</li>
  <li>Use of the service is currently free. We may introduce a subscription model for more substantial usage. Though if this is an issue you can always run your own local version of the software.</li>
  <li>Have a suggestion? <a href="https://github.com/supernifty/NiftyNote/issues">Raise an issue</a> or contribute to the project. Alternatively you can <a href="http://www.supernifty.org/contact.php">contact Supernifty</a>.</li>
</p>
<h4>Important</h4>
<p>
  Use of NiftyNote is completely <strong>at your own risk</strong>.
  Although we do our best to protect your data and maintain the Supernifty service, we provide no guarantee of fitness for use.
  Supernifty reserves the right to terminate or block any account for any reason.
</p>
<p>
  <a href="{{ url_for('main') }}" class="btn btn-primary" role="button">Go to Nifty Note</a><br/>
  You will be authenticated using Google.
</p>
<p>&nbsp;</p>
<p>
  <small>Copyright &copy; 2018 <a href="http://www.supernifty.org/">supernifty.org</a>. All rights reserved. <a href="http://www.supernifty.org/contact.php">Contact</a>. <a href="http://www.supernifty.org/tos.php">Legal</a>.</small>
</p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.9/marked.min.js"></script>
    <script src="{{ url_for('static', filename='main.js', v='171232') }}"></script>
  </body>
</html>
